<% @professionals.each do |professional| %>
  <div class="prof-card">
    <%= professional.name %>
    <%= professional.location %>
    <%= professional.email %>
    <%= professional.phone %>
  </div>
<% end %>
