<h4>Your role(s):</h4>
  <% @user.roles.each do |role| %>
    <ul>
      <li><%= role.title %></li>
    </ul>
    <% end %>
    You can add the following role to your account:
    <%= f.collection_select(:roles, @user.role_to_add, :id, :title, include_blank: true) %>
