<div class="jumbotron">
  <div class="jumbo-img"> </div>
  <div class="container home-content text-center">
    <h1>Find the Right People</h1>
    <p>Professionals on PushPin are ready to help you get all kinds of things done!</p>
    <%= render partial: "skill_search_form" %>
  </div>
</div>
