<h5>Completed Projects:</h5>
  <div class="row">
    <% @professional.completed_projects.each do |project| %>
      <div class="panel col-md-6">
      <p>Name: <%= link_to project.name, professional_project_path(project: project.slug) %></p>
      <p>Status: <%= project.status %></p>
      <% end %>
    </div>
</div>
