.dashboard-container {
  h1 {
    text-align: center;
    padding-bottom: 20px;
  }

  .panel {
    background-color: darkgrey;
    padding: 2%;
    margin: 1%;
  }

  .sit-right {
    float: right;
  }
}
