.jumbotron {
  height: 400px;
  background-image: url(/assets/tools-med-crop.jpg);
  background-size: cover;
  background-repepat: no-repeat;
  margin: 0px;
}

.custom-nav {
  margin: 0px;
}

.home-content {
  h1 {
    color: $pushpin-orange;
    text-shadow: 0px 0px 20px #333;
  }

  p {
    color: #fff;
    text-shadow: 0px 0px 10px #333;
  }
  
}

.find-pro {
  margin: 0px;
  background: #f2f2f2;
  height: 300px;
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.60);
}
