.jumbotron {
  position: relative;
  height: 400px;
  margin-top: 0px;
  z-index: -1;
  background-color: #000;
}

.jumbo-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/tools-med-crop.jpg);
  background-size: cover;
  background-repepat: no-repeat;
  z-index: -2;
  opacity: 0.8;
}

.custom-nav {
  margin: 0px;
}

.home-content {
  h1 {
    color: $pushpin-orange;
    text-shadow: 0px 0px 20px #333;
  }

  p {
    color: #fff;
    text-shadow: 0px 0px 10px #333;
  }
}
