<div class="container">
    <div class="col-md-6 profile-card proposal-spacer">
      <h3>Proposal ID: <%= @proposal.id %></h3>
      <h4>Project Name: <%= @proposal.project.name %></h4>
      <h4>Project Requester: <%=link_to @proposal.project.user.name, requester_path(@proposal.project.user) %></h4>
    </div>
    <%= render partial: "shared/message_center" %>
</div>
